.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.footer {
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin: 0!important;
    z-index: 1000;
}

@keyframes highfive-animation {
    from {height: 0%;
          width: 0%;}
    to {height:100%;
        width: 100%;}
}

.highfive {
  animation-name: highfive-animation;
  animation-duration: 2s;
}


.coverall {
	position:fixed;
	z-index: 10000000;
	/* above everything else */
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,.8);"
}
