.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.footer {
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin: 0!important;
    z-index: 1000;
}