html, body {
  height: 100%;
}

.send {
  height: 100%;
}

.sendhighfive {
  height: 100%;
}

.sendhighfive .list {
  height: calc(100% - 94px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.footer {
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  margin: 0!important;
  z-index: 1000;
}

.footer button{
  margin: 0 !important;
}

.coverall {
	position:fixed;
	z-index: 10000000;
	/* above everything else */
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,.8);"
}

.highfive {
  display: block;
  margin: 0 auto;
  height: 0%;
  width: 0%;
}

.popup {
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.8);
}

.popup h1 {
  text-align: center;
  margin-top: 50%;
  display: block;
  color: white;
}