<div ng-controller="FriendRequestController">
	<super-navbar>
		<super-navbar-title>Buddies</super-navbar-title>
		<!-- <super-navbar-button side="right" ng-click="loadHighfives()">
			Refresh
		</super-navbar-button> -->
	</super-navbar>

	<ul class="list">
		<li class="card" ngclick="show()" ng-repeat="request in friendRequests">
			<h2 class="item item-row">{{request.senderName}} wants to be friends!</h2>
			<div class="item item-body">
				<button class="button button-balanced icon super-checkmark-circled" ng-click="acceptFriendRequest(request)">  Accept</button>
				<button class="button button-assertive icon super-close-circled" ng-click="rejectFriendRequest(request)">  Reject</button>
			</div>
		</li>
	</ul>
</div>
