<div ng-controller="IndexController">
	<super-navbar>
		<super-navbar-title>Inbox</super-navbar-title>
	</super-navbar>

	  <!-- <img src="/icons/hi5.gif"></img> -->
	<ul class="list">
		<super-navigate location="hi5#hand" ng-repeat="friend in recieved">
			<li class="item">{{friend}}</li>
		</super-navigate>

		<!-- <a class="item list-item" ng-click="play(hifive.type)" ng-repeat="hifive in recieved">
			<i class="icon super-star"></i>
			{{hifive.sender}}
			<span class="item-note">{{hifive.sentDate}}</span>
		</a> -->
	</ul>
</div>
