<div ng-controller="SendController" class="send">

  <!-- <super-navbar>
    <super-navbar-title>
      Send
    </super-navbar-title>
  </super-navbar> -->

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner || help">
    <div ng-hide="highfive" ng-class="{sendhighfive: enableButtons}">

      <!-- List of friends -->
      <ul class="list" ng-hide="users.length == 0">
        <li class="item item-checkbox" ng-repeat="user in users">
          <label class="checkbox">
            <input type="checkbox" ng-model="user.selected" ng-change="select(user)"></input>
          </label>
          {{user.username}}
        </li>
      </ul>

      <!-- Prompt for no friends/users -->
      <h4 ng-show="users.length == 0" class="assertive padding">
        No buddies found :(
      </h4>

      <!-- Buttons to send and clear selections -->
      <div class="footer" ng-if="enableButtons">
        <button
          class="button button-full button-calm icon super-paper-airplane"
          ng-click="startHighfiving()">
          Send
        </button>

        <button class="button button-full button-dark"
          ng-click="clearUsers()">
          Clear
        </button>
      </div>
    </div>
  </div > <!-- end show spinner div -->

  <!-- pops up when getting  help -->
    <div class="popup text-center white" ng-show="help">
          <h3>Step 1</h3>
          <img src="/img/howto/step1.png" class="thumbnail howto-img"></img>
          <p>Select buddies and hit send</p>

          <h3>Step 2</h3>
          <img src="/img/howto/step2.png" class="thumbnail howto-img"></img>
          <p>Wave Phone in Hi5 Motion</p>

          <h3>Step 3</h3>
          <img src="/img/howto/step3.png" class="thumbnail howto-img"></img>
          <p>Experience awesomeness</p>
        <button ng-click="toggleHelp()" class="button button-assertive">Awesome, I'm ready to send a Hi5!</button>
    </div> <!-- end help popup -->

</div><!-- end send class div -->
