<div ng-controller="SendController" class="send">

  <!-- <super-navbar>
    <super-navbar-title>
      Send
    </super-navbar-title>
  </super-navbar> -->

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner || help">
    <div ng-hide="highfive" ng-class="{sendhighfive: enableButtons}">

      <!-- List of friends -->
      <ul class="list" ng-hide="users.length == 0">
        <li class="item item-checkbox" ng-repeat="user in users">
          <label class="checkbox">
            <input type="checkbox" ng-model="user.selected" ng-change="select(user)">
          </label>
          {{user.username}}
        </li>
      </ul>

      <!-- Prompt for no friends/users -->
      <h4 ng-show="users.length == 0" class="assertive padding">
        No buddies found :(
      </h4>

      <!-- Buttons to send and clear selections -->
      <div class="footer" ng-if="enableButtons">
        <button 
          class="button button-full button-calm icon super-paper-airplane"
          ng-click="startHighfiving()">
          Send
        </button>

        <button class="button button-full button-dark"
          ng-click="clearUsers()">
          Clear
        </button>
      </div>
    </div>
  </div > <!-- end show spinner div -->

<!-- pops up when getting  help -->
  <div class="popup" ng-show="help">
    <h1>How to Send a Hi5</h1>

    <div class="padding">
      <div class ="text-center">
        <h3 class="text-center">Step 1</h3>
        <p>Choose recipients and press send</p>
      </div>

      <div class ="text-center">
        <h3 class="text-center">Step 2</h3>
        <p>Wave Phone in Hi5 Motion</p>
      </div>

      <div class ="text-center">
        <h3 class="text-center">Step 3</h3>
        <p>Choose Hi5 Hand</p>
      </div>
      <button ng-click="toggleHelp()" class="button button-block button-assertive">Awesome, got it.</button>
    </div>

  </div> <!-- end help popup -->
</div><!-- end send class div -->
